.inline-block {
    display:inline-block;    
}

.pi-comment {
    /*border: 1px solid #dddddd;*/
    /*border-radius: 4px;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);*/
    padding: 10px 15px;
    margin-bottom: 20px;
}

.userSection .pi-comment {padding:0; border:none}
.userSection .comment {margin:0}

.pi-comment-header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}
a.highlight {
    color: #0088cc;
}
.pi-comment-form {
    margin-top: 15px;
}
div.media > .float-left {
    margin-right: 5px;
    margin-left: 5px;
}
.manage-sidebar div.media > .float-left {margin:0}

/*img {*/
    /*border-radius: 3px;*/
/*}*/
/*textarea {
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 38px;
    max-height: 38px;
    min-height: 38px;
}
textarea:focus {
    border: 0px;
    box-shadow: none;
}*/
.media-body .form-textarea {
    border: 1px solid #dddddd;
    padding: 4px 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 4px;
    height: 38px;
}
.form-unsign {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #eeeeee;
    color: #808080;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    padding-left: 20px;
}
.form-submit {
    margin-top: 10px;
}
.pi-comment-list .media {
    margin-top: 20px;
}
.pi-comment-user {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}
.pi-comment-time {
    font-size: 13px;
    font-family: 'Arial';
    margin-left: 5px;
    margin-right: 5px;
}
.pi-comment-content {
    margin-top: 10px;
    color: #333333;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.pi-comment-operation {
    margin-top: 10px;
    font-size: 13px;
}
.pi-comment-operation .operation {
    margin-right: 10px;
}
.operation i {
    margin-right: 2px;
}
.operation a {
    color: #999999;
}
a.muted:hover,
.operation a:hover {
    color: #0088cc;
}
.pi-comment-view-all {
    margin-top: 20px;
    margin-bottom: 10px;
}
.pi-comment-view-all a {
    width: 100%;
    color: #808080;
    padding-left: 0;
    padding-right: 0;
}

.pi-comment-none {
    height: 140px;
    line-height: 140px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #999999;
}

.pi-comment-article-title {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 20px 0;
}

.pi-comment-desc {
    margin: 10px 0 0 0;
    font-size: 13px;
}
.pi-comment-list.my .pi-comment-desc {
    margin: -10px 0 0 0;
}

.form-cancel {
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.comment-title-hidden {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    max-width: 40%;
    word-break: keep-all;
    margin: 0 20px 0 5px;
}

.pi-comment-count {
    width: 40px;
    border-radius: 4px;
    background: rgb(204, 204, 204);
    text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 5px 1px #eeeeee;
}
a.pi-comment-count:hover {
    background: #0088cc;
    box-shadow: 0 5px 1px rgb(217, 236, 238);
    text-decoration: none;
    color: #fff;
}
.common-article-title {
    color: #333333;
    font-size: 13px;
}
.pi-comment-article {
    margin-bottom: 20px; 
}
.pi-comment-article .media {
    border-bottom: 1px solid #eee;
}
.pi-comment-article .media-body {
    margin-bottom: 20px;
}
.pi-comment-article .media:last-child {
    border: 0;
}
.pi-comment-tab {
    margin-top: 10px;
    font-size: 13px;
}
.pi-comment-tab a {
    color: #0088cc;
}
.pi-comment-portal ul {
    margin: 10px;
    font-size: 13px;
}
.pi-comment-portal li {
    padding: 2px 0 3px 5px;
}


/* Liaowei */

/* Comments list */
.comments-panel {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  padding: 0 15px 20px;
  margin-bottom: 20px;
}

.comments-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.comment-item {
  margin-top: 15px!important;
  z-index:10;
  position:relative;
}

.comment-operation {
    margin: 10px 0 20px 0;
}

.comment-operation a {
  margin-right: 5px;
}

.comment-btn-all {
  margin-top: 20px;
}

/* Comment single */
.pi-comment-single {
    /*margin-top:-50px!important;
    padding-top:50px!important;*/
    
}

.pi-comment-single:last-child {
    border-bottom: 0px;
}

/* RATINGS */ 
.rating {
   direction: rtl;
   /*width:85px;*/
}
.rating span,
.rating a {
   color: #aaa;
   text-decoration: none;
   transition: color .4s;
   color:orange;
   
}
.rating a:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    content:"\f005"
}

.rating a:hover,
.rating a:focus,
.rating span.active,
.rating a.active,
.rating span.active ~ span,
.rating a.active ~ a,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}
.rating a:hover:before,
.rating a:focus:before,
.rating span.active:before,
.rating a.active:before,
.rating span.active ~ span:before,
.rating a.active ~ a:before,
.rating a:hover ~ a:before,
.rating a:focus ~ a:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content:"\f005"
}


.ratings div {
    display:inline-block; 
    margin-right:10px
}

.my-star,
.item-rating .fa-star,
.item-rating .fa-star.active {color: orange;}
.item-rating .far.fa-star {color:#ccc}

/* POST FORM */
.inline label {
    display:inline-block;  
}
.inline input,
.inline .rating {
    display:inline-block;
}

.inline input {
    width:50%; 
    /*margin-left:20px*/
}

/* COMMENT LIST */
.comment-item.is-reply {
    margin-left:110px;
    margin-right:50px;
}

.is-reply .avatar-img-wrapper img {
    width:52px
}

.no-margin-bottom {
    margin-bottom:0!important
}

.avatar-column {
    float:left;
    width:90px;
    margin-right:30px
}

.avatar-column img {
    width:80px
}

.images a {
    float:left
}
.images a img {
    height:75px
}

.write-review {
    background:#f5f5f5;
    border:1px solid #e3e3e3;
    padding:10px;
    margin-bottom:10px;
}

input.subscription {
    margin-left: 20px;
}

.comment-admin,
.comment-owner {
}

.resume-ratings span.inline-block {
    font-weight:bold;
}

.resume-ratings > div:first-child {margin-bottom:20px}
/*
.is-review,
.is-comment,
#write-review {
    margin-top:-90px!important;
    padding-top:90px!important;
    z-index:1;
    position:relative;
}
*/

.fake-anchor {
    margin-top:-50px!important;
    padding-top:50px!important;
    display:block;
    visibility:hidden;
}
.guide .fake-anchor {
    margin-top:-220px!important;
    padding-top:220px!important;
}

#rating_fakeinput {
    width:1px; 
    position:absolute; 
    top:0; 
    left:30px;
    border:none; 
    background:transparent; 
    outline:none;
}

#rating_fakeinput:invalid {
    box-shadow: none; /* FF */
    outline: 0;       /* IE 10 */
}

.comment-admin .avatar-img-wrapper img {
        border: 5px solid #03A9F4;
        padding: 0
    }
.comment-owner .avatar-img-wrapper img {
    border: 5px solid #FFBF00;
    padding: 0
}
.badge-owner {border-radius:.25em;
    padding:.2em .6em .3em .4em;
    margin-left:0em;
    display:inline-block;
    width:auto;
    background:#FFBF00
}
    
.gray,
.avatar-column small,
.comment-operation a {color:#999}
.comment-operation a:hover {color:#337ab7}

.resume-ratings .float-right {margin-top:5px}

#pi-comment.userSection .container {width:auto;max-width:none}

.my .pi-comment-single .avatar-column img,
.my .pi-comment-single .avatar-column {width:100px}
.pi-comment-single.media .col-md-2 {padding: 0 5px}

.commentText {display:inline-block}
div[contenteditable=true] {
  min-width: 100%;
  min-height:30px;  
}
